.chat-group-form
  %h1 新規チャットグループ
  = form_for @group do |f|
    - if @group.errors.any?
      #error_explanation
        %h2= "#{@group.errors.count}件のエラーがあります。"
        %ul
          - @group.errors.full_messages.each do |msg|
            %li= msg
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :group_name, "グループ名", class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力してください", class: "chat-group-form__input"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{for: "user-search-field"} チャットメンバーを追加
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          %input{type: "text", placeholder: "追加したいユーザ名を入力してください", class: "chat-group-form__input", id: "user-search-field", data: {id: "user-id"}}
        #user-search-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label "チャットメンバー", class: "chat-group-form__label"
      .chat-group-form__field--right
        #chat-group-users
          #chat-group-user-22.chat-group-user.clearfix
            = f.hidden_field :user_ids, value: current_user.id, multiple: true
            %p.chat-group-user__name
            = current_user.name
          = render partial: "groups/users", collection: @users_not_current
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "登録する", class: "chat-group-user__action-btn"
